.App {
  textarea {
    resize: none;
    height: 50vh;
    width: 40vw;
  }

  .detail {
    a {
      text-decoration: none;
      color: black;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 40px;
    border-left: 3px black solid;
  }
}